<form action="/" method="POST">
  <select name="filter" id="filter" onchange="this.form.submit()">
    <option value="" disabled selected>Category</option>
    <option value="家居物業" {{#if (eq filter '家居物業' )}} selected {{/if}}>家居物業</option>
    <option value="交通出行" {{#if (eq filter '交通出行' )}} selected {{/if}}>
      交通出行
    </option>
    <option value="休閒娛樂" {{#if (eq filter '休閒娛樂' )}} selected {{/if}}>休閒娛樂
    </option>
    <option value="餐飲食品" {{#if (eq filter '餐飲食品' )}} selected {{/if}}>餐飲食品
    </option>
    <option value="其他" {{#if (eq filter '其他' )}} selected {{/if}}>其他</option>
  </select>
</form>


<h3>總金額:{{totalAmount.amount}}</h3>

{{#each records}}
<div class="container">
  <div class="row">
    <i class="{{this.categoryIcom}}"></i>
    <h5>{{this.name}}</h5>
    <h5>{{this.date}}</h5>
    <h5>{{this.amount}}</h5>
    <form action="/records/{{this._id}}/edit" method="GET" style="display: inline;">
      <button type=" submit">修改</button>
    </form>
    <form action="/records/{{this._id}}?_method=delete" method="POST" style="display: inline;">
      <button type="submit">刪除</button>
    </form>
  </div>
</div>
</div>
{{/each}}

<a href="/records/new">Create</a>