<div class="d-flex justify-content-center">
  <form action="/" method="GET">
    <div class="form-group mx-1 mb-0">
      <input type="month" class="form-control" name="time" placeholder="月份" onchange="submit()" value="{{time}}">
    </div>
    <select class="form-select-bg" style="width: 200px;" name="filter" id="filter" onchange="submit()">
      <option value="" disabled selected>Category</option>
      {{#each category}}
      <option value="{{this.category}}" {{#if (eq ../categoryfilter this.category )}} selected {{/if}}>{{this.category}}
      </option>
      {{/each}}
    </select>
  </form>
</div>
<div class="d-flex justify-content-center mt-2">
  <h3 class="d-flex align-items-end mx-2">總金額:</h3>
  <h1>{{totalAmount}}</h1>
</div>
<ul class="list-group list-group-flush m-auto" style="max-width: 840px;">
  {{#each records}}
  <li class=" row p-0 d-flex justify-content-md-bewteen list-group-item">
    <div class="col-1 col-md-1 py-1"><i class="{{this.categoryIcom}} fa-2x"></i></div>
    <div class="ms-2 me-5 col-2 col-md-2">
      <div class="fw-bold">{{this.name}}</div>
      <p class="mb-0" style="font-size: xx-small;">{{this.date}}</p>
    </div>
    <p class="col-4 col-md-3 p-0 m-0" style="font-size: 24px;">{{this.merchant}}</p>
    <p class="col-2 col-md-2 p-0 m-0" style="font-size: 24px;">{{this.amount}}</h5>
    <div class="col-3 col-md-4 d-flex align-items-center justify-content-center">
      <form action="/records/{{this._id}}/edit" method="GET" style="display: inline;">
        <button type=" submit" class="btn btn-info mx-2">修改</button>
      </form>
      <form action="/records/{{this._id}}?_method=delete" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger">刪除</button>
      </form>
    </div>
  </li>
  {{/each}}
</ul>
<div class="d-flex justify-content-center mt-3"><a class="btn btn-outline-info d-grid gap-2 col-4 mx-auto"
    href="/records/new">Create</a></div>